.report {
    padding: 4rem 5rem;
    .report_head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        border-radius: 5px;
        h1 {
            font-size: 2.3rem;
            font-weight: 500;
        }
        p {
            margin-top: 1rem;
            font-size: 1rem;
            width: 25rem;
            color: #a7a7a7;
            text-align: center;
        }
        .search_btn {
            display: flex;
            margin-top: 1rem;
            flex-direction: row;
            background: var(--bg-forth);
            justify-content: space-between;
            padding: 8px;
            width: 50%;
            border-radius: 4px;
            cursor: text;

            &:focus-within {
                border: 1px solid #ff5c35;
                box-shadow: 0 0 5px 0 rgb(207, 207, 207);

                svg {
                    display: none;
                }
            }

            select {
                outline: none;
                margin-left: 0.1rem;
                border: 1px solid rgb(186, 201, 215);
                border-radius: 3px;
                padding: 4px 2px;
                // background: transparent;
                font-size: 15px;
            }

            svg {
                color: var(--color-secondary);
                font-size: 1.5rem;
                transform: translateY(3px);
                margin-right: 0.5rem;
            }

            input {
                outline: none;
                margin-left: 1rem;
                font-size: 1.1rem;
                cursor: text;
                border: none;
                width: 90%;
                background: transparent;
                color: var(--color-secondary);
                transform: translateY(-2px);
            }

            input[type="search"]::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 24px;
                width: 24px;
                margin-left: 0.4em;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
                cursor: pointer;
            }
        }
    }
    .fill_form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
        .form_div {
            border: 1px solid slategrey;
            border-radius: 5px;
            margin-top: 1rem;

            h2 {
                text-align: center;
                margin: 0.7rem 0;
            }
            form {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 1rem auto;
                p {
                    font-size: 0.8rem;
                    color: rgb(128, 128, 128);
                    margin-top: 10px;
                    margin-bottom: 5px;

                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
                div {
                    .tool {
                        display: flex;
                        flex-direction: row;
                    }
                    .tooltip {
                        position: relative;
                        display: inline-block;

                        svg {
                            font-size: 0.8rem;
                            color: rgb(117, 117, 117);
                            margin-left: 0.2rem;
                        }

                        span {
                            visibility: hidden;
                            width: 25rem;
                            background-color: rgba(0, 0, 0, 0.6);
                            color: #fff;
                            font-size: 15px;
                            padding: 5px 10px;
                            border-radius: 6px;
                            position: absolute;
                            z-index: 1;
                        }

                        &:hover span {
                            visibility: visible;
                        }
                    }
                }

                input {
                    padding: 10px;
                    outline: none;
                    border: 1px solid rgb(199, 201, 203);
                    cursor: text;

                    &::placeholder {
                        color: rgb(172, 172, 172);
                    }

                    &:focus {
                        border: 1px solid #ff5c35;
                        box-shadow: 0 0 5px 0 rgb(207, 207, 207);
                    }
                }
                .place_1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                    margin-top: 10px;

                    div {
                        width: 50%;
                    }
                    select {
                        font-size: 0.8rem;
                        color: rgb(146, 147, 147);
                        padding: 10px;
                        border: 1px solid rgb(214, 217, 220);

                        &:focus {
                            border: 1px solid #ff5c35;
                            outline: none;
                        }
                    }

                    input {
                        width: 100%;
                    }
                }
                .place_2 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                    margin-top: 10px;

                    div {
                        width: 60%;
                        input {
                            width: 100%;
                        }
                    }
                }
                .place_3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    margin-top: 10px;

                    div {
                        width: 60%;
                        input {
                            width: 100%;
                        }
                    }
                }

                textarea {
                    padding: 10px;
                    outline: none;
                    border: 1px solid rgb(199, 201, 203);
                    cursor: text;
                    resize: none;

                    &::placeholder {
                        color: rgb(172, 172, 172);
                    }

                    &:focus {
                        border: 1px solid #ff5c35;
                        box-shadow: 0 0 5px 0 rgb(207, 207, 207);
                    }
                }
                .btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 1rem;
                    gap: 2rem;
                    button {
                        padding: 10px;
                        width: 50%;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 1rem;
                        font-weight: 500;
                        background: var(--bg-forth);

                        &:nth-child(1) {
                            background-color: rgb(240, 255, 240);
                            color: green;
                            font-weight: bold;
                            border: 1px solid green;

                            &:hover {
                                background-color: rgb(220, 255, 220);
                            }
                        }

                        &:nth-child(2) {
                            background-color: rgb(255, 240, 240);
                            color: red;
                            border: 1px solid red;
                            font-weight: bold;

                            &:hover {
                                background-color: rgb(255, 220, 220);
                            }
                        }
                    }
                }
            }
        }
        .serch_div {
            border: 1px solid slategrey;
            border-radius: 5px;
            padding: 0 1rem;
            margin-top: 1rem;

            h2 {
                text-align: center;
                margin: 0.7rem 0;
            }

            .search_btn {
                display: flex;
                margin-top: 1rem;
                flex-direction: row;
                background: var(--bg-forth);
                padding: 8px 10px;
                width: 100%;
                border-radius: 4px;
                cursor: text;

                &:focus-within {
                    border: 1px solid #ff5c35;
                    box-shadow: 0 0 5px 0 rgb(207, 207, 207);

                    svg {
                        display: none;
                    }
                }

                svg {
                    color: var(--color-secondary);
                    font-size: 1.5rem;
                    // transform: translateY(1px);
                    margin-right: 0.5rem;
                }

                input {
                    outline: none;
                    font-size: 1.1rem;
                    cursor: text;
                    border: none;
                    width: 100%;
                    background: transparent;
                    color: var(--color-secondary);
                    transform: translateY(-2px);
                }

                input[type="search"]::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    height: 24px;
                    width: 24px;
                    margin-left: 0.4em;
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
                    cursor: pointer;
                }
            }
        }
    }
}
